<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>VueJS</title>
    <link rel="stylesheet" href="styles/style.css">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
</head>
<body>
<main>
    <h1>TODO LIST:</h1>
    <div id="vueApp">
        <p>New Todo:</p>
        <input v-model="currTodo" value="">
        <input v-on:click="addTodo" :disabled="currTodo.length === 0" type="button" value="Add">
        <ul>
            <li v-for="todo in todos" v-bind:class="[background, getBorder]">
                <span v-if="!todo.editing" v-bind:class="{'black': font.black, 'white': font.white}">{{todo.name}}</span>
                <input v-if="todo.editing" v-model="todo.name">
                <input v-if="!todo.editing" v-on:click="edit(todo)" type="button" value="edit">
                <input v-if="todo.editing" v-on:click="save(todo)" type="button" value="save">
                <input v-if="!todo.editing" v-on:click="remove(todo)" type="button" value="remove">
            </li>
        </ul>
        <input id="white" type="checkbox" v-model="font.white">
        <label for="white">White font color</label>
        <br>
        <input id="black" type="checkbox" v-model="font.black">
        <label for="black">Black font color</label>
        <br>
        <br>
        <input type="radio" id="blue" value="blue" v-model="background">
        <label for="blue">Blue background</label>
        <br>
        <input type="radio" id="red" value="red" v-model="background">
        <label for="red">Red background</label>
        <br>
        <div>Picked: {{ background }}</div>
        <label for="border">Show border?</label>
        <input id="border" type="checkbox" v-model="border.pink">
        <br>
        <br>
        <input type="checkbox" v-model="transition">
        <div v-if="transition" transition="expand">test</div>
        <input type="text" v-model="greetingMsg">
        <my-component :msg="greetingMsg"></my-component>
    </div>
    <div id="demo">
        <div>
            <label for="showFull">Show full name?</label>
            <input id="showFull" type="checkbox" v-model="showFullName">
        </div>
        <div v-show="showFullName">
            <label for="full-name">Full name:</label>
            <input id="full-name" type="text" v-model="fullName">
        </div>
        <div v-else>
            <p>Nothing to show</p>
        </div>
        <div>
            <label for="showNames">Show first name and last name?</label>
            <input id="showNames" type="checkbox" v-model="showNames">
        </div>
        <template v-if="showNames">
            <div>
                <label>First name</label>
                <input type="text" v-model="firstName">
            </div>
            <div>
                <label>Last name</label>
                <input type="text" v-model="lastName">
            </div>
        </template>
        <div v-else>
            <p>Nothing to show</p>
        </div>
    </div>
</main>
<script type="text/javascript" src="lib/vue.js"></script>
<script type="text/javascript" src="src/app.js"></script>
</body>
</html>